<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quiz</h1>
    <p> Nome
        <input type="text" name="nome">
        <p>Pergunta 1
        </p>
        <p><input type="radio" name="q1" value="a"> Resposta 1</p>
        <p><input type="radio" name="q1" value="a"> Resposta 2</p>
        <p><input type="radio" name="q1" value="a"> Resposta 3</p>
        <form action="/correcao/" method="post"></form>

        <p>Pergunta 2
        </p>
        <p><input type="radio" name="q2" value="c"> Resposta 1</p>
        <p><input type="radio" name="q2" value="c"> Resposta 2</p>
        <p><input type="radio" name="q2" value="c"> Resposta 3</p>
        <form action="/correcao/" method="post"></form>
        
        <p>Pergunta 3</p>
        <p><input type="radio" name="q3" value="b"> Resposta 1</p>
        <p><input type="radio" name="q1" value="a"> Resposta 2</p>
        <p><input type="radio" name="q1" value="a"> Resposta 3</p>
        <form action="/correcao/" method="post"></form>
        
        <p><button type="submit">
            Corrigir
        </button></p>   